ul {
  list-style: none;
}
body {
  background-color: yellowgreen;
  font-size: x-large;
  color: white;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input {
  font-size: large;
  border: none;
  border-bottom: 4px solid greenyellow;
  background-color: yellowgreen;
  width: 100%;
  color: white;
}
.city-card {
  margin: 0 auto;
}
.city-card-list {
  list-style: circle;
}
.city-card-list-item {
  font-size: large;
}
